node_modules
dist
dist-ssr
coverage

.env
.env.development
.env.production
.env.local
.env.staging
.env.qa
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

RUN_AGAINST_BACKEND.md
FRONTEND_ARCHITECTURE.md
