DJANGO_SECRET_KEY=strong-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
PLAYTO_TOKEN_SALT=unique-token-salt
PLAYTO_TOKEN_MAX_AGE_SECONDS=700000

CORS_ALLOWED_ORIGINS=http://localhost:3000

POSTGRES_DB=playto_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=db-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
